<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title><%= title ? title + ' - ' : '' %>Express Kotoumi Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="<%= prefix %>/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="<%= prefix %>/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <script type="text/javascript" src="<%= prefix %>/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>
    Hello!
  </body>
</html>

